@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: {"Satoshi", "sans-serif"};
  --font-parisienne: "parisienne", sans-serif; 
  --color-primary: #00C2FF;
  --color-secondary: #DD0BFF;
  /* ... */
}

@layer components{
  .primary-btn {
    @apply bg-gradient-to-r from-primary to-secondary duration-300 py-2 px-6 text-white rounded-full hover:scale-105;
  }
  .container {
    @apply px-4;
  }
}

.animated-wrapper {
  animation-name: move-wrapper;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes move-wrapper {
  0% {
    transform: translate(150%, 30%) rotate(0) scale(0.8);
  }
  50%{
    transform: translate(60vw, 0vh) rotate(150deg) scale(1.2);
  }
  to{
    transform: translate(40vw, 40vh) rotate(0deg) scale(0.8);
  }
}

@layer utilities{
  .img-shadow{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  }
  .animate-spin-slow{
    animation: spin 20s linear infinite;
  }
}

